<div class="row">
    <div class="col-12">
      <form #f="ngForm" (ngSubmit)="salvar(f)">
        <h2>Nova Categoria</h2>
        <div class="form-group  col-sm-12 p-0">
          <label for="nome">Nome</label>
          <input type="text" class="form-control  mb-2 pl-0" id="nome">
        </div>
        <div class="row  text-right">
          <div class="col-12">
            <a type="" class="btn  btn-outline-primary" value="voltar" routerLink="/categorias">Voltar</a>
            <button type="submit" class="btn  btn-primary" value="salvar">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
