<div class="row">
  <div class="col-12">
    <form action="#" method="GET">
      <h2>Nova Transação</h2>
      <div class="form-group  col-sm-12 p-0">
        <label for="nome">Nome</label>
        <input type="text" class="form-control  mb-2 pl-0" id="nome">
      </div>
      <div class="row  text-right">
        <div class="col-12">
          <a type="" class="btn  btn-outline-primary" value="voltar" routerLink="/transacoes">Voltar</a>
          <button type="submit" class="btn  btn-primary" value="salvar">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
